:root{
    --light: #efefefef;
    --medium: #5e6873;
    --dark: #323232;
    --black: #111;
    --blue-dark: #3b5491;
    --blue-light: #5f7ecb;
    --turkis-dark: #009bb0;
    --turkis-light: #3baedde3;
    --orange-dark: #ff7c35;
    --orange-light: #ff9a63;
    --Black-dark: #444444;
    --black-light: #999999;
}